<script>
  function runJavaScript () {
  }
</script>
	
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" 
	  class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/carousel-slide-1.png" >
    </div>
	
    <div class="item">
      <img src="assets/carousel-slide-2.png" >
    </div>
	
    <div class="item">
      <img src="assets/carousel-slide-3.png" >
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


</div>
  <div class="tweet button">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>
      $(document).ready(function(){
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      });
    </script>
</div>

<div class="fb-like" data-href="http://www.sourceandsew.com" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>