<div class="row-fluid">
  <div class="span6">
	  <image src = "/assets/sign-in-image.png" style="float:left">
  	
  </div>
  <div class="span6">
	  <h1>Sign In</h1>
	  <form action=<%= session_url %> method="post" accept-charset="utf-8">
	  	<input type="hidden" name="authenticity_token" id="<%=form_authenticity_token%>">
	
	  	<label for="username">Username</label><input type="text" name="user[username]"
	  	 id="username" value="guest">
	      <label for="password">password</label><input type="password" name="user[password]" 
	  	  value="password" id="password">
	  	<p><input type="submit" value="Sign In" class="btn"></p>
	  </form>
  </div>
</div>


