<script>
function runJavaScript() {
	SourceAndSew.notes = new SourceAndSew.Collections.NotedFactories();

	SourceAndSew.notes.fetch({
		error: function (args) {
			console.log(args);
		},
	    success: function (){
			var indexView = new SourceAndSew.Views.NotesIndex({
				collection: SourceAndSew.notes
			});
			indexView.render();
			$('.notes-list').append(indexView.$el);
	    }
	});
	  
}
</script>

<div class="notes-list">
</div>