<h1> All Notes </h1>

<script>
function runJavaScript() {
	var indexView = new SourceAndSew.Views.NotesIndex({
		collection: SourceAndSew.factories
	});
	
	indexView.render();
	
	$('.notes-list').append(indexView.$el);
}
</script>

<div class="notes-list">
</div>