<h1 class="title"> <%= title %></h1>

<ul class="thumbnails" id="factories-index">

</ul>


<div class="pager">
<ul>
  <li><a class ="prev" href="">previous</a></li>
  <li><a class="next" href="">next</a></li>
 </ul>
</div>


