<h1 class="title"> <%= title %></h1>

<ul class="thumbnails" id="factories-index">

</ul>


<div class="pagination">
<ul>
  <li><a class ="prev" href="">Prev</a></li>
  <li><a class="next" href="">Next</a></li>
 </ul>
</div>


