<h1 class="title"> <%= title %></h1>

<ul class="thumbnails" id="factories-index">

</ul>

<button type="button" style="height:50px; width:940px" class="btn"><h4>Load More Factories <i class="fa fa-sort-asc fa-lg"></i><h4></button>

