<h1 class="title"> <%= title %></h1>

<ul class="thumbnails" id="factories-index">

</ul>

<h5 class="page-nums"> page 1 of 6 </h5>

<div class="pager">
<ul>
  <li><a class ="prev" href="">prev</a></li>
  <li><a class="next" href="">next</a></li>
 </ul>
</div>


