<script>
function runJavaScript (){
	SourceAndSew.favorites = 
	    new SourceAndSew.Collections.FavoritedFactories();
	
	SourceAndSew.favorites.fetch({
		success: function (){
	  	  var indexView = new SourceAndSew.Views.FavoritesIndex({
	  		  collection: SourceAndSew.favorites
	  	  });
	  
	  	  indexView.render();
	  	  $('.favorite-factory-list').append(indexView.$el);
		}
	});
}
  
</script>

<div class="favorite-factory-list">
</div>