<h1> All Factories </h1>

<%@factories.each do |factory|%>
  <ul>
	  <li><%= factory.name %></li>
	  <li><%= factory.description %> </li>
	  <li><%= factory.location %> </li>
	  <li><%= factory.phone %> </li>
  </ul>
<%end%>