<script>
function runJavaScript () {
  var indexView = new SourceAndSew.Views.FactoriesIndex({
	  collection: SourceAndSew.factories
  });
  
  indexView.render("All Factories");
  $('.factory-list').append(indexView.$el);
}
</script>


<div class="factory-list">
</div>






