@import "bootstrap";

/*universal */

body {
	padding-top: 90px;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  //font-family: Optima, Segoe, Calibri, Arial, sans-serif;
  //font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  color: 00608b;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
}


/* button */
.button {
    border-radius: 5px;
}

/* navbar */
.navbar .container { 
  height: 90px; //make sure to add an equal amount of padding to body if this changes
}

.navbar-inner {
	background-color: red;
}

.carousel {
	position: absolute;
	left: 0;
	right: 0;
//	top: 0;
}

.carousel-inner {
	cursor: pointer;
}


/* welcome message */
.nav .welcome{
  position: relative;
	color: #00608b;
	padding-top: 30px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  right: 17px;
  font-size: 1.5em; 
}

.nav .nav-links{
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  font-size: 1.5em;  
}

/* modal */
.sign-in-modal {
  width: 250px;
	margin-left: -120px;
}

/* logo */
.navbar .brand {
position: fixed;       
padding-top: 0;

}

/* factory images */
.factory-thumbnail {
	height: 350px;
	min-height: 350px;
	position: relative;
}

.factory-image {
  position: relative;	
  left: 20px;
}


.heart {
	position: absolute;
    left: 0;
	opacity: 0.5;
	display: none;
	cursor: pointer;
}

.opaque-heart {
	position: absolute;
    left: 0;
	opacity: 1;
	cursor: pointer;
}


/* thumbnails */


.note-btn {
	position: absolute;
	bottom: 160px;
	left: 177px;
}

.email-btn {
	position: absolute;
	bottom: 160px;
	left: 224px;	
}

.spinner {
	position: absolute;
	left: 3px;
}

/* social media */
.twitter-share-button {
	position: relative;
	float: left;
	top: 445px;
}

.fb-like {
	position: relative;
	float: left;
	top: 445px;
}

.page-nums {
	position:relative;
	left: 446px;
	top: 9px;
	color: #00608b;
}

.nothing-to-display {
  color: #00608b;
}
